/**
 *
 * Max width of a constrained content
 *
 */

$content-max-width: 1024px;

/**
 *
 * Grid size (how many columns in a row), defaults to standard 12
 *
 */

$grid-size: 12;

/**
 *
 * Default breakpoints definitions for @media queries,
 *
 */

$bp: (
	xs: (
		min-width: false,
		max-width: 480px,
		base-font-size: 16px,
		base-line-height: 24px,
		round-to-nearest-half-line: false
	),
	sm: (
		min-width: 481px,
		max-width: 767px,
		base-font-size: 16px,
		base-line-height: 24px,
		round-to-nearest-half-line: false
	),
	md: (
		min-width: 768px,
		max-width: 959px,
		base-font-size: 16px,
		base-line-height: 24px,
		round-to-nearest-half-line: false
	),
	lg: (
		min-width: 960px,
		max-width: 1023px,
		base-font-size: 16px,
		base-line-height: 24px,
		round-to-nearest-half-line: false
	),
	xl: (
		min-width: 1023px,
		max-width: 1199px,
		base-font-size: 16px,
		base-line-height: 24px,
		round-to-nearest-half-line: false
	),
	xxl: (
		min-width: 1200px,
		max-width: 1299px,
		base-font-size: 16px,
		base-line-height: 24px,
		round-to-nearest-half-line: false
	),
	xxxl: (
		min-width: 1300px,
		max-width: false,
		base-font-size: 16px,
		base-line-height: 24px,
		round-to-nearest-half-line: false
	)
);