/**
 *
 * Set the modular scale and vertical rhythm variables
 *
 * For the list of predefined choices of $ms-ratio visit:
 * https://github.com/modularscale/modularscale-sass#ratios
 *
 * To read more about setting the vertical rhythm visit:
 * http://compass-style.org/reference/compass/typography/vertical_rhythm/
 *
 * For dealing with vertical rhythm we're using here a SASS 
 * version of Compass's vertical rhythm mixins:
 * https://github.com/neoeno/libsass-compass-vertical-rhythm
 *
 */

$ms-base: 1em;
$ms-ratio: $major-third;
$base-font-size: 16px;
$base-line-height: 24px;
$round-to-nearest-half-line: false;
$rhythm-unit: 'rem';