html {
	background: yellow;
	// background: rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.5);
	letter-spacing: 1px;
	font-family: sans-serif;
	text-transform: uppercase;
	// word-break: break-all;
}


.left {
	@include debug-vertical-alignment();
	background: pink;
}

.right {
	@include debug-vertical-alignment();
}
