html {
	// background: black;
	background: pink;
	// background: rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.5);
	letter-spacing: 1px;
	font-family: sans-serif;
	text-transform: uppercase;
	// word-break: break-all;
}


.left {
	@include debug-vertical-alignment();
}

.right {
	@include debug-vertical-alignment();
}

.z {
	background: red;
	box-shadow: inset 0px 0px 12px rgba(255,255,255,0.7);
}